/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2018, 10:48:20 AM
    Author     : user
*/
#about-sec p {
    font-size: 13px;
    line-height: 21pt;
    color: #656565;
    font-weight: 400;
    text-align: center;
    padding: 20px 75px;
}
.services .service-box .content {
    min-height: 68px; 
}
#service-page .right-side p {
    font-size: 13px;
    line-height: 21pt;
    color: #656565;
    font-weight: 400;
}
#service-page .right-side h1, #service-page .right-side h2, #service-page .right-side h3, #service-page .right-side h4, #service-page .right-side h5, #service-page .right-side h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 26pt;
    margin-bottom: 15px;
    color: #1e1e1e;
}
#service-page .right-side ul{
    padding: 0px;
    list-style: none;
    padding-left: 20px;
}
#service-page .right-side ul li{
    font-size: 13px;
    line-height: 21pt;
    color: #656565;
    font-weight: 400;
    position: relative;
}
#service-page .right-side ul li:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    background: #000;
    display: inline-block;
    color: #000;
    left: -18px;
    top: 15px;
}
#email-alert{
    border: 1px solid #8BC34A;
    background: #8BC34A;
    padding: 4px 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
}
#email-alert .fa-check{
    background: #4CAF50;
    padding: 5px;
    border-radius: 50%;
}
.careers ul {
    padding: 0px;
    list-style: none;
    padding-left: 20px;
}
.careers ul li{
    font-size: 13px;
    line-height: 21pt;
    color: #656565;
    font-weight: 400;
    position: relative;
}
.careers ul li:before {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    background: #000;
    display: inline-block;
    color: #000;
    left: -18px;
    top: 15px;
}